@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Filip Świta<br />
    Politechnika Rzeszowska<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:filip.swita@gmail.com">filip.swita@gmail.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/FilSwi">https://github.com/FilSwi</a>
</address>